<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery-validation/lib/jquery-1.11.1.js"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
</head>
<body>
<h1>
    Welcome to you!
</h1>


<!--<div class="row">-->
<!--    <div class="form-inline">-->
<!--        <img id="captchaImg" width="130" height="32" onclick="refreshCaptcha()"-->
<!--             style="display: none">-->
<!--        <input id="captcha" class="form-control" style="display: none">-->
<!--        <button class="btn btn-primary" type="button" id="buyButton"-->
<!--                onclick="getSeckillPath()">立即秒杀-->
<!--            <input type="hidden" name="goodsId" id="goodsId">-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->




</body>
</html>